<div class="d-flex flex-column w-100 align-items-center p-5" *ngIf="_isInited">
  <dx-form id="form" #declatationForm [(formData)]="_formData" labelLocation="top" [minColWidth]="233"
    [screenByWidth]="_screen" [colCount]="1" class=" max-w-1600" [readOnly]="(_id && _id > 0 ? true : false)">

    <dxi-item itemType="group" [colCount]="4">

      <dxi-item dataField="geschlecht" [label]="{ text: 'Geschlecht' }" editorType="dxRadioGroup"
        [editorOptions]="{ items: _datasource_geschlecht, layout: 'horizontal' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="geborenIn" [label]="{ text: 'Geboren in' }">
      </dxi-item>

      <dxi-item editorType="dxDateBox" dataField="geburtsdatum" [label]="{ text: 'Geburtsdatum' }" width="200">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

    </dxi-item>

    <dxi-item itemType="group" [colSpan]="1" [colCountByScreen]="_colCountByScreen">
      <dxi-item dataField="name" [label]="{ text: 'Nachname' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="vorname" [label]="{ text: 'Vorname' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="strasse" [label]="{ text: 'Stra0e' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="hausnummer" [label]="{ text: 'Hausnummer' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="plz" [label]="{ text: 'Plz' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>

      <dxi-item dataField="ort" [label]="{ text: 'Ort' }">
        <dxi-validation-rule type="required"></dxi-validation-rule>
      </dxi-item>
    </dxi-item>

    <dxi-item itemType="group" [colSpan]="1">
      <dxi-item itemType="button" cssClass="button-add-kind" *ngIf="!_id"
        [buttonOptions]="{ type: 'default', text: 'Absenden', icon: 'add', onClick: _onClickSubmit}">
      </dxi-item>
    </dxi-item>
  </dx-form>


  <div class="info-text-container">
    <span class="error-text" *ngIf="_errorText">{{_errorText}}</span>
    <span *ngIf="!_errorText">Unterschrift:</span>
  </div>
  <app-signature #signature *ngIf="!_id"></app-signature>
  <div class="signature-container" *ngIf="_id && _imageData">
    <img [src]="_imageData" width="100%" height="100%" draggable="false"/>
  </div>

</div>
