
:host {
  display: block;
  height: 100%;
  width: 100%;
  background: url('/head.webp') no-repeat center;
  background-size: cover;
}

.bg1-light{
  background-color: rgb(133 133 133 / 71%);
}

.bg1-dark{
  background-color: rgb(0 0 0 / 92%);
}
