:host {
  display: block;
  max-height: 100vh;
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  background: url("/assets/head.webp") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.bg1-dark {
  background-color: rgb(0 0 0 / 92%);
}

.section-header {
  display: block;
  width: 100%;
  height: 150px;
  flex: 0 0 150px;
  overflow: hidden;
}

.section-body {
  display: block;
  width: 100%;
  height: calc(100% - 150px);
}
