<div class="d-block w-100 h-100 bg1-dark" >

  <div class="section-header">
    <app-header></app-header>
  </div>
  <div class="section-body">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #errorModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">FEHLER {{_error && _error.status ? '(' + _error.status + ')' : ''}}
    </h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    {{_error ? _error.title : ''}}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.close()">Ok</button>
  </div>
</ng-template>
