/* You can add global styles to this file, and also import other style files */



:root{
  --scrollbar-color: #4b4848;
  --scrollbar-background-color: #2a2a2a;;
  --scrollbar-color-hover: #858484;
}

* {
  // margin: 0!important;
  // padding: 0!important;
  box-sizing: border-box !important;
  text-size-adjust: none;
  // border-radius: 0!important;
  // background-color: rgb(21, 21, 21);
  // color: white;
}

html,
body {
  height: 100%;
  width: 100%;

  font-family: "MuktaMahee", "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f3f3f3;
  line-height: 1.6666;
  font-weight: 400;

  padding: 0;
  margin: 0;

  touch-action: pan-x pan-y;

  /* Präfixe für alle gängigen Browser */
  -webkit-overflow-scrolling: touch;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-background-color) !important;
  scrollbar-width: 10px !important;
  touch-action: pan-x pan-y;
}

  /* Präfixe für alle gängigen Browser */


/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-background-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color-hover);
}

.inverted-image-100 {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: space-between;
  // align-items: center;
  // align-content: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.f-1 {
  flex: 1;
}

.h-100vh{
  height: 100vh;
}

.w-100vw{
  width: 100vw;
}

.w-100 {
  width: 100%;
}

.max-w-1600 {
  max-width: 1600px;
}

.h-100 {
  height: 100%;
}

.min-h-100 {
  min-height: 100%;
}

.max-h-100 {
  max-height: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-self-stretch {
  align-self: stretch;
}

.align-items-center {
  align-items: center;
}

.px-4 {
  padding-left: 16px;
  padding-right: 16px;
}

.p-5 {
  padding: 20px;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 20px;
}

.gap-3 {
  gap: 30px;
}

.container-lg {
  max-width: 1140px;
}

.text-center {
  text-align: center;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.overflow-y-a{
  overflow-y: auto;

}

/* Importing Bootstrap SCSS file. */
// @import "variables";
// @import "bootstrap/scss/bootstrap";

h1,
h2,
h3,
h4,
h5,
h6 {
  // color: #fff;
  font-family: "MuktaMahee", "Rubik", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: -0.75px !important;
  line-height: 1.2 !important;
}

h1.h1-title-xl {
  font-size: 5.3125rem !important;
}

// .rtl-direction p.p-md,
// h6.h6-xl,
// p.p-xl {
//   font-size: 1.25rem;
// }

.dx-datagrid-search-panel {
  margin-left: 0;
  width: calc(100% - 20px) !important;
}

dx-data-grid {
  .dx-gridbase-container {
    padding: 5px;
  }
}

.dg-light {
  .dx-datagrid {
    // background-color: #2a2a2a8e;
    // background-color: green;
    background-color: #ffffff91;
  }

  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    // background-color: #34343444;
    // background-color: green;
    background-color: #d7d6d67d;
  }
}

.dg-dark {
  .dx-datagrid {
    background-color: #2a2a2a8e;
    // background-color: red;
  }

  .dx-datagrid .dx-row-alt > td,
  .dx-datagrid .dx-row-alt > tr > td {
    background-color: #34343444;
    // background-color: red;
  }
}

.nav-link{
  text-decoration: none;
  min-width: 50px;
}

.dx-datebox{
  max-width: 150px!important;
}


//------------------------


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MuktaMahee", "Rubik", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: -0.75px !important;
  line-height: 1.2 !important;
}

h1.h1-title-xl {
  font-size: 5.3125rem !important;
}

.p-xl {
  font-size: 1.3rem;
}


@media screen and (max-width: 800px) {
  h1.h1-title-xl {
    font-size: 3.3125rem !important;
  }
}

@media screen and (max-width: 400px) {
  h1.h1-title-xl {
    font-size: 2.3125rem !important;
  }

  .p-xl {
    font-size: 1.2rem;
  }
}
