/* You can add global styles to this file, and also import other style files */

*{
    // margin: 0!important;
    // padding: 0!important;
    box-sizing: border-box!important;
    // border-radius: 0!important;
    // background-color: rgb(21, 21, 21);
    // color: white;
}

html, body {
    height: 100%!important;
    width: 100%!important;

    font-family: "MuktaMahee", "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #f3f3f3;
    line-height: 1.6666;
    font-weight: 400;
}

.inverted-image-100 {
  -webkit-filter: invert(100%); /* Safari/Chrome */
  filter: invert(100%);
}

/* Importing Bootstrap SCSS file. */
@import 'variables';
@import 'bootstrap/scss/bootstrap';

// @import "functions";
// @import "variables";
// @import "mixins";


// $theme-colors: map-merge(
//   $theme-colors,
//   (
//     "bs-body-font-family": $bs-body-font-family
//   )
// );
