<div class="d-flex flex-row justify-content-end align-items-center px-4 gap-2">
  <div class="d-flex flex-row align-items-center gap-1 mt-2">
    <a class="nav-link" *ngIf="_location === 'login'" [routerLink]="'/extern'"
      (click)="_isMenuCollapsed = true">Home</a>
    <a class="nav-link" *ngIf="_location === 'intern'" [routerLink]="'/extern'"
      (click)="_isMenuCollapsed = true">Logout</a>
    <a class="nav-link" *ngIf="_location !== 'intern' && _location !== 'login'" [routerLink]="'/intern'"
      (click)="_isMenuCollapsed = true">Login</a>
  </div>
</div>

<div class="d-flex flex-row justify-content-between align-items-center px-4">
  <div class="d-flex flex-row align-items-center gap-3">
    <img src="assets/logo-head.webp" alt="header-logo" class="header-logo inverted-image-100">
    <span class="title">Best Tattoo Studio In Berlin</span>
  </div>
</div>
