:host {
  display: block;
  width: 100%;

  // background: url('/head.webp') no-repeat center;
  // background-size: cover;
}

.header-logo {
  scale: 0.5;
}

.nav-link:hover {
  font-weight: 600;
}

.light-border {
  border-bottom: 1px solid rgba(168, 168, 168, 0.623);
}

.dark-border {
  border-bottom: 1px solid black;
}
