:host {
  display: block;
  width: 100%;
}

.header-logo {
  scale: 0.5;
}

.nav-link:hover {
  font-weight: 600;
}

.light-border {
  border-bottom: 1px solid rgba(168, 168, 168, 0.623);
}

.dark-border {
  border-bottom: 1px solid black;
}

.title{
  font-weight: 500;
  letter-spacing: -0.75px;
  font-size: 54px;

}
