<div class="d-flex flex-column align-items-center w-100 h-100 align-self-stretch p-4">

  <div class="d-flex flex-column align-items-center w-100 gap-3">
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="_onClickNew($event)">Neue
      Einwilligungserklärung</button>
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="_onClickTest0($event)">Test</button>
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="_onClickTest(401)">Test 401</button>
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="_onClickTest(500)">Test 500</button>
    <button class="btn btn-success btn-lg btn-block" type="button" (click)="_onClickTestClient($event)">Test Client</button>
  </div>

  <div class="d-flex flex-row gap-3 w-50">
    <table class="table table-striped table-borderless table-hover caption-top">
      <caption class="table-caption1">
          Liste der Einwilligungserklärungen
      </caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
